<div class='top'>
  <div class='top-user'>
    <div class='top-message'>
     <h4 class='top-user-info'><%= current_user.nickname %>さんはサインインしています</h4>
    </div>
    <div class='top-list'>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
    </div>
    <div class='top-image'>
      <%= image_tag 'top_image.jpg', class:'top-image-sale'%>
    </div>
  </div>

  <div class='sales-list'>
    <div class='sale-info'>
      <h3 class='sale-message'>今日のセール情報</h3>
      <% @sales.each do|sale|%>
        <%= sale.shop.company_name%>
        <%= sale.shop.shop_name%><br>
        <%= sale.heading%><br>
        <%= sale.start_time%><br>
        <%= sale.end_time%><br>
        <%= sale.info%><br>
        <%= sale.caution%><br>
      <% end %>
    </div>
  </div>
</div>
