<%= render 'shared/header' %>

<%= form_with model: [@shop,@sale], class:'registration-main', local: true do |f| %>

  <div class='form-wrap'>
    <div class='form-header'>
      <h2 class='form-header-text'>
        セール情報編集
      </h2>
    </div>

    <div class="form-group">
      <div class="form-text-wrap">
        <label class="form-text">商品の画像等</label>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image %>
      </div>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">部門</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.collection_select(:department_id, Department.all, :id, :name, {}, {class:"select-box"}) %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">見出し ＜40字以内＞</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :heading, class:"sale-heading", placeholder:"夕方５時からの夕市セール！", maxlength:"40" %>
    </div>
    
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">セール詳細 ＜40字以内＞</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :info, class:"sale-input", placeholder:"本日はキャベツ、大根、ほうれんそうが98円です。", maxlength:"40" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">備考 ＜40字以内＞</label>
      </div>
      <%= f.text_area :caution, class:"sale-input", placeholder:"キャベツ、大根、ほうれん草はお一家族様につき１個までです。", maxlength:"40" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">日付</label>
        <span class="indispensable">必須</span>
      </div>
      <div class='form-sale-date'>
        <%= raw sprintf(
          f.date_select(
          :day,
          class: 'sale_date',
          use_month_numbers: true,
          start_year: Time.now.year,
          end_year: Time.now.year+2,
          date_separator: '%s'),
          "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
      </div>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">タイムセール開始時刻</label>
        <span class="indispensable">必須</span>
      </div>
      <div class= 'form-sale-date'>
      <%= raw sprintf(
          f.time_select(
          :start_time,
          class: 'sale_date'))%>
      </div>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">タイムセール終了時刻</label>
        <span class="indispensable">必須</span>
      </div>
      <div class='form-sale-date'>
      <%= raw sprintf(
          f.time_select(
          :end_time,
          class: 'sale_date'
          ))%>
      </div>
    </div>

    <div class="register-btn">
      <%= f.submit '編集',class:"register-red-btn" %>
    </div>

  </div>

<% end %>
<%= render 'shared/footer'%>
